**
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!turbo.json
!Dockerfile.medusa
!docker-compose.medusa.yml
!apps/
!apps/medusa/
!packages/
!.dockerignore

**/node_modules
**/.next
**/.turbo
**/.jest-cache
**/.cache
**/.vscode
**/.idea
**/coverage
**/dist
**/build
**/*.log
**/*.tsbuildinfo
