public-hoist-pattern[]=*@medusajs/*
public-hoist-pattern[]=@tanstack/react-query
public-hoist-pattern[]=react-i18next
public-hoist-pattern[]=react-router-dom
public-hoist-pattern[]=@swc/core
public-hoist-pattern[]=@swc/core-win32-x64-msvc